snippet ifeq
	ifeq (${1:cond0},${2:cond1})
		${0}
	endif
snippet target
	${1:target} : ${2:file}
		${3:command}

snippet cpp
	CPP = g++
snippet ctarget
	${1:target} : ${2:file}
		${3:$(CPP)} -o $@ $<
