snippet ifeq
	ifeq (${1:cond0},${2:cond1})
		${0}
	endif

snippet target
	${1:target} : ${2:file}
		${3:command}

snippet cc
	CC = g++

snippet c++11
	CFLAG = -std=c++11

snippet ctarget
	${1:target} : ${2:file}
		${3:$(CPP)} -o $@.out $<

snippet clean
	.PHONY: clean
	clean:
		rm -rf *.o

